.hero {
    display: flex;
    min-height: 70vh;
  }
  
.hero-text {
  background: var(--green-main);
  color: var(--yellow-accent);
  flex: 1;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.hero-media {
  flex: 2;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-video {
text-align: center;
padding: 4rem 1rem;
}

.latest-video h2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.video-wrapper iframe {
width: 560px;
height: 315px;
max-width: 100%;
border-radius: 12px;
}

.shop-preview {
  position: relative;
  min-height: 60vh;

  background-image: url("../assets/home_shop_preview.png");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  padding: 3rem;
}

  
.shop-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 999px;

  padding: 0.6rem 2rem;

  font-family: 'Amatic SC', cursive;
  font-size: 1.8rem;
  color: var(--green-main);

  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.shop-button:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-1px);
}

.shop-preview-content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;      /* centers text under button */
}

.shop-description {
  margin-top: 1rem;
  text-align: center;

  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}

.hero-contact {
  text-align: center;
  padding: 4rem 1rem;
}

.hero-contact h2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 3rem;
  font-size: 2rem;
  color: var(--green-main);
}

.hero-contact p {
  font-size: 1.2rem;
}
  
   